<!doctype html>
<html>
  <head>
   <%= partial "layouts/head" %>
  </head>
  <body>
   <%= partial "layouts/navegacion" %>
   <%= partial "layouts/inicio" %>
   <%= partial "layouts/lineup" %>
   <%= partial "layouts/programacion" %>
   <%= partial "layouts/contacto" %>
   </body>
 </html>